body {
    font-family: Arial, sans-serif;
    background-color: #131141; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-profile {
    width: 100%; 
    padding: 12px; 
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-profile:hover {
    background-color: #000000; 
    transform: scale(1.05); 
}

.user-email {
    width: 100%;
    padding: 1px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 1000;
    color: #666;
    background-color: #eaeaea;
    box-sizing: border-box;
    text-align: center;
    cursor: not-allowed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(5px); /* Blur effect */
    z-index: 50; /* Ensure it's on top */
  }
  
  /* Spinner animation */
  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #fff; /* White border */
    border-top: 6px solid transparent; /* Transparent top to create spinner effect */
    border-radius: 50%;
    animation: spin 1.5s linear infinite; /* Spin animation */
  }
  
  /* Keyframes for spinner */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .custom-title {
    color: black !important;
  }

